<!DOCTYPE html>

<html>
<head>
<title>{{.Title}}</title>
<style>
h1 {
    font-family:"Helvetica";
    text-align:center;
    color:black;
    text-align:center;
    padding-top:10%;
}
div {
    background-color:white;
    border-radius:5px;
    height:200px;
    width:700px;
    margin-top:25px;
}
body {
    background-color:#E3E3E3;
}
</style>
</head>
<body>
<center><div><h1>{{.H1}}</h1></div></center>
</body>
</html>