<!DOCTYPE html>

<html>
<head>
<title>{{.Title}}</title>
<style>
h1 {
    font-family:Helvetica;
    text-align:center;
}
p {
    font-family:Verdana;
    text-align:center;
}
</style>
</head>
<body>
<h1>{{.H1}}</h1>
<p>{{.P}}</p>
</body>
</html>